<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Channel</th>
          <th scope="col">Seasons</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of series">
          <td>
            <dd>{{c.id}}</dd>
          </td>
          <td
          (click)="select(c)"
          >
            <dd>{{c.name}}</dd>
          </td>
          <td>
            <dd>{{c.channel}}</dd>
          </td>
          <td>
            <dd>{{c.seasons}}</dd>
          </td>
        </tr>
        <tr>
          <td>
            <dd>Season Avarage</dd>
          </td>
          <td>
            <dd>{{promedio()}}</dd>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-6" *ngIf="selected">
    <app-serie-detail [serie]="selectedSerie"></app-serie-detail>
  </div>
</div>
